/Input/Places2019/ImportShapeFilesAndDBF/bin
/Input/Places2019/ImportShapeFilesAndDBF/obj
/Input/Places2019/ImportShapeFilesAndDBF/Fixfbfcrap/obj
/Input/Places2019/ImportShapeFilesAndDBF/Fixfbfcrap/bin
/Input/Places2019/ImportShapeFilesAndDBF/.vs/ImportShapeFilesAndDBF/v16/Server/sqlite3
bin
obj
/MinersAndPrograms/LocalClimateData/LocalClimateDataMiner/node_modules
/MinersAndPrograms/SpeciesData/zips
/MinersAndPrograms/ImportShapeFilesAndDBF/x64
/MinersAndPrograms/TestCPlus/x64
/MinersAndPrograms/GenerateClass/obj
/MinersAndPrograms/GenerateClass/bin
/MinersAndPrograms/ImportShapeFilesAndDBF/bin
/MinersAndPrograms/ImportShapeFilesAndDBF/obj
/MinersAndPrograms/ImportShapeFilesAndDBF/ShapeUtilities/obj
/MinersAndPrograms/ImportShapeFilesAndDBF/ShapeUtilities/bin
/MinersAndPrograms/ImportShapeFilesAndDBF/Fixfbfcrap/obj
/MinersAndPrograms/ImportShapeFilesAndDBF/Fixfbfcrap/bin
/MinersAndPrograms/ImportShapeFilesAndDBF/.vs
