/Input/Places2019/ImportShapeFilesAndDBF/bin
/Input/Places2019/ImportShapeFilesAndDBF/obj
/Input/Places2019/ImportShapeFilesAndDBF/packages
/Input/Places2019/ImportShapeFilesAndDBF/Fixfbfcrap/obj
/Input/Places2019/ImportShapeFilesAndDBF/Fixfbfcrap/bin
/Input/Places2019/ImportShapeFilesAndDBF/.vs/ImportShapeFilesAndDBF/v16/Server/sqlite3
